html {
	background: url("./images/background.jpg");
	background-size: cover;
	}

body {
	display: block;
	margin-left: auto;
	margin-right: auto;
	color: white;
	text-align: center;
}

h1 {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-family: Helvetica;
	font-size: 3em;
}

h2 {
	/*margin-left: 4%;*/
	font-family: Helvetica;
	font-size: 25pt;
}

h4 {
	/*margin-left: 4%;*/
	font-family: Helvetica;
	font-size: 22pt;
}

p {
	/*margin-left: 6%;*/
	font-family: Helvetica;
	font-size: 14pt;
	color: white;
	background: gray;
	padding: 10px;
	border-radius: 5px;
}

img {
	height: 300px;
	width: 450px;
	position: center;
	border-radius: 15px;
	padding: 10px;
}

#container {
	display: block;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#jude {
	max-width: 500px;
	height: inherit;
}

#star {
	margin: 0 auto;
	display: block;
	max-width: 500px;
	height: inherit;
}

#garage {
	margin: 0 auto;
	display: block;
	height: inherit;
}

